* {
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.text_main {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.text_footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  vertical-align: bottom;
}

.prod1,
.prod2,
.prod3,
.prod4 {
  width: 200px;
}
